<%= form_for(task) do |f| %>
<div class="flex mx-5 px-5">
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
  </div>
  <div>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  </div>
  <%= f.submit class: 'btn btn-secondary position-absolute pl-5' %>
  </div>
<% end %>
